<div class="row mt-5 mx-auto">
    <div class="col-12 col-md-3 d-flex flex-column align-items-center">
        <img src="assets/profile-pic-placeholder.png" width="300">
        <h3>{{user.name}}</h3>
        <p>{{user.location}}</p>
        <p>{{user.}}</p>
    </div>
    <div class="col-6 col-md-4">
        <h4>Items Offered</h4>
        {{#each}}
        <p>{{user.items_offered}}</p> {{!--Not sure what to put here--}}
        {{/each}}
    </div>
    <div class="col-6 col-md-4">
        <h4>Items Claimed</h4>
        {{#each}}
        <p>{{user.items_claimed}}</p>
        {{/each}}
    </div>
</div>